@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


body{

  overflow-x: hidden;
  background-color: #FFFFFF;
}
.underlineHover::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 15px ;
    background-color: #E60035; /* Set the underline color to orange */
    transform: scaleX(0); /* Initially, the underline will have no width (hidden) */
    transition: transform 0.2s ease; /* Add a transition for smooth effect */
  }
  #an td{
    border-top: 2px solid #5b7c99;
  }
  #ani td{
    border-top: 2px solid #5b7c99;

  }
  .underlineHover:hover::after {
    transform: scaleX(1);
  }
  .iconDiv{
    width: 20rem;
    text-align: center;
  }